.card {
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #999;
  background-color: rgb(243, 243, 243);
  margin: 7px;
  border-radius: 5px;
  color: black;
}

.card.square {
  border-radius: 0px;
}

.card.tight {
  padding: 7px;
}

.card.padded {
  padding: 20px;
}

.card.centered {
  margin: 0px auto 5px;
}

.card.wide {
  max-width: 1200px;
}

.card.normal {
  max-width: 800px;
}

.card.small {
  max-width: 600px;
}

.card.xs {
  max-width: 500px;
}
